<!DOCTYPE html>
<html>
    <head>
        <title>Page Not Found</title>
        <link rel="stylesheet" href="css/home.css">
        <style>
            body{
                background-color: aquamarine;
                font-family: 'Courier New',Courier,Monospace;
                color: bisque;
                margin: 0%;
                padding: 0%;
                
                
            }
            header{
                background-color: chocolate;
                padding: 23px;
                text-align: center;
                color: white;
                
                
            }
            main{
                text-align: center;
                
            }
            h1{
                font-size: small;
                color: blue;
                margin-bottom: 20px;

            }
            h2{
                font-size: 2%;
                margin-bottom: 20px;
                
            }
            p{
                font-size: 1.2%;
                margin-bottom: 30px;

            }
            .btn{
                padding: 10px,25px;
                font-size: 1%;
                background-color: 
            }

