<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        </head>
        <body style="margin: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: White; color: red">
            <header style="background-color: red; padding: 20px; text-align:center; color: white;">
                <img src="images/logo.png" alt="{{restuarant_name}} Logo " style="max-width: 20px; padding: 20px;">
            <h1 style="margin: 0%; font-size: 2.5%;">restuarant_name</h1>
            </header>
            <main style="text-align: center; padding: 60px 20px;">
                <h2 style="font-size: 2%; margin-bottom: 20px;">Welcome To Home<h2>
                    <h3> Welcome All </h3>
                    <a href="notes" style="display:inline-block;">Notes</a>
                    <p>We are glad you all came to our shop</p>
                    <p style="font-size: 1.2%; margin-bottom: 20px;">This is a page dealt with different types of componemnets</p>
                    <p style="font-size: 1.25; margin-bottom: 20px;">Welcome to:<strong>{{restuarant_name}}</strong></p>
                    <p style="font-size: 1.2%; margin-bottom: 20px;">Call us at:<strong>{{restuarant_phone}}</strong></p>
                    </main>
                    <footer style="background-color: red; color: white; padding: 15px; position: fixed;">
                       <p> &copy;{{current_year}}{{RESTUARANT_NAME}}Home.All Right Reserved</p>
                        <p>Opening Hours:{{RESTUARANT_HOURS}}</p>
                    </footer>
        </body>
</html>



